.review-form {
    width: 400px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
  }
  .review-form input[type="text"],
  .review-form input[type="number"],
  .review-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .review-form button {
    background-color: #11ff00; /* Blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .review-form button:hover {
    background-color: #224d05; /* Darker blue color on hover */
  }
  